* {
    padding: 0px;
    margin: 0px;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: black;
}

.editor {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    color: rgb(34, 255, 34);
    font-family: monospace;
}

.escrita::before {
    content: "";
    animation: writer .5s infinite linear;
}

@keyframes writer {
    0%{
        content: "_";
    }
    50%{
        content: "";
    }
    100%{
        content: "_";
    }
}